@use '../../../color-scheme.scss' as *;

.headerBackground {
	top: 0;
	width: 100%;
	left: 0;
	position: sticky;
	z-index: 1;
	background: $onBackgroundColor;

	box-shadow: 5px 5px 15px $shadowColor;
}
.headerContent {
	padding: 1rem;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}
