.headerTopContent {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.navigationList {
	display: flex;
	gap: 1rem;
	list-style: none;
	flex-wrap: wrap;
}

.headerTop {
	background-color: rgb(68, 68, 68);
	& * {
		color: #fff;
	}
}
