.passwordHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	& h4 {
		color: #757171;
	}
}
.hideButton {
	font-size: 0.9rem;
	background-color: transparent;
	color: #757171;
	font-weight: 00;
	padding: 0rem 0.5rem;
}
.hideButton:hover {
	background-color: transparent;
	color: #000000;
}

.paswordInput {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
