.boilerItem {
	// max-width: 200px;
	width: calc(100% - 2rem);
	padding: 1rem;
	box-shadow: 2px 2px 4px #00000059;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	@media screen and (max-width: 660px) {
		width: calc(100% - 2rem);
	}
}
.text {
	margin: 0; /* Убираем внешний отступ */
	-webkit-line-clamp: 2; /* Число отображаемых строк */
	display: -webkit-box; /* Включаем флексбоксы */
	-webkit-box-orient: vertical; /* Вертикальная ориентация */
	overflow: hidden;
}
