.footer {
	&__contactItem {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		text-align: start;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		h2 {
			margin-bottom: 0;
		}
		h3 {
			font-weight: 600;
		}
	}
}
