$backgroundColor: #4f4f4f;
$onBackgroundColor: #ffffff;
$onBackgroundColor2: #b3b3b3;
$onHoverBackgroundColor: #cecece;
$onHoverBackgroundColor2: #ffffff;
$orangeColor: #ffe41c;
$blueColor: #0066eb;
$shadowColor: rgba(0, 0, 0, 0.25);
