* {
	margin: 0;
	padding: 0;
	border: none;
}
:root {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}
*,
input::-webkit-input-placeholder {
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-style: normal;
}
button {
	padding: 0.75rem 1.5rem;
	color: white;
	background-color: #5e5e5e;
	font-size: 1rem;
	border-radius: 0.5rem;
	&:hover {
		background-color: #7a7a7a;
		cursor: pointer;
	}
}

input {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
	border: 1px solid #d1d1d1;
}

input:focus {
	outline: none;
	border: 1px solid black;
}

.errorSpan {
	color: red;
}

.inputForm {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	position: relative;
}

$containerWidth: 1280px;

$backgroundColor: #4f4f4f;
$onBackgroundColor: #ffffff;
$onBackgroundColor2: #b3b3b3;
$onHoverBackgroundColor: #cecece;
$onHoverBackgroundColor2: #ffffff;
