.hideButton {
	font-size: 0.9rem;
}
.hideButton:hover {
	background-color: transparent;
	color: #000000;
}

.appInput {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.titleInput {
	color: #757171;
}
.active {
	color: #000000;
}

.appHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
